@model ECommerce.Models.Departaments

@{
    ViewBag.Title = "Detalhes sobre a Região";
}
<br />
<h2>Informações sobre a Região</h2>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    <br />
    @Html.ActionLink("Editar", "Edit", new { id = Model.DepartamentsId }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
    <br />
</p>
