@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>O sistema de Gerenciamento de companhias e Filiais foi desenvolvido em Asp .Net e seu banco estruturado por meio do Entity Framework</p>
<br />
<p>O mesmo conta com cadastro de Regiões, Cidades, Companhias, Usuários, Categorias, Impostos, Armazéns e produtos</p>
<p>Além de tudo isso o mesmo também tem oconceito de permissões onde separa o que cada tipo de usuário terá acesso, sendo ele o cliente, o usuário padrão e o ADMIN.</p>