@model ECommerce.Models.User

@{
    ViewBag.Title = "Inicio";
}

<div class="form-horizontal">
    <div style="text-align: center;">
        <br />
        <h1>Controle de Companhias</h1>
        @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
        {
            <br />
            <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:1000px;height:400px;max-width: 100%;" />
            <br /><br />
        }
        <h3>Você esta conectado ao sistema, seu usuário pertence a companhia acima</h3>
    </div>
</div>

